<p id="notice"><%= notice %></p>

<h1><%= t('grades.grades') %></h1>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th><%= t('grades.table.name') %></th>
      <th><%= t('grades.table.average') %></th>
      <th>Bim1</th>
      <th>Bim2</th>
      <th>Bim3</th>
      <th>Bim4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.id %></td>
        <td><%= grade.name %></td>
        <td><%= grade.average %></td>
        <td><%= grade.bim1 %></td>
        <td><%= grade.bim2 %></td>
        <td><%= grade.bim3 %></td>
        <td><%= grade.bim4 %></td>
        <td><%= link_to t('grades.show'), grade %></td>
        <td><%= link_to t('grades.edit'), edit_grade_path(grade) %></td>
        <td><%= link_to t('grades.destroy'), grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('grades.new'), new_grade_path, class:"btn btn-primary"  %>
<br><br><br><br>