<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<% @sum = 0.0%>
<p>
  <strong>Average:</strong>
  <% @sum = ((@grade.bim1 +  @grade.bim2 +  @grade.bim3 + @grade.bim4) /4).round(1) %>
  <%= @sum %>
</p>

<% @id = params[:id] %>
<% if @sum != @grade.average %> 
  <% ActiveRecord::Base.connection.execute("UPDATE GRADES SET AVERAGE = #{@sum} WHERE id=#{@id}") %>
<% end %>
<!-- Apenas atualiza a media se o resultado do @sum for diferente da q esta no banco -->

<p>
  <strong>Bim1:</strong>
  <%= @grade.bim1 %>
</p>

<p>
  <strong>Bim2:</strong>
  <%= @grade.bim2 %>
</p>

<p>
  <strong>Bim3:</strong>
  <%= @grade.bim3 %>
</p>

<p>
  <strong>Bim4:</strong>
  <%= @grade.bim4 %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
