<br><br>
<div class="jumbotron">
    <h1 class="display-4"><%= t('welcome.welcome') %></h1>
    <p class="lead"><%= t('welcome.desc') %></p>
    <hr class="my-4">
    <p><%= t('welcome.start') %></p>
    <%= link_to t('welcome.check'), grades_path, class:"btn btn-primary btn-lg" %>
    <%= link_to t('welcome.submit'), new_grade_path, class:"btn btn-primary btn-lg" %>
</div>