<br>
<br><br>

<div class="card-deck">
  <div class="card">
    <%= image_tag 'olavo.png', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Olavo de Carvalho</h5>
      <p class="card-text"><%= t('olavo') %></p>
      <p class="card-text"><small class="text-muted">Wikipedia</small></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'ponde.jpg', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Luiz Felipe Pondé</h5>
      <p class="card-text"><%= t('ponde') %></p>
      <p class="card-text"><small class="text-muted">Wikipedia</small></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'ricardo.jpg', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Ricardo Felício</h5>
      <p class="card-text"><%= t('ricardo') %></p>
      <p class="card-text"><small class="text-muted">Wikipedia</small></p>
    </div>
  </div>
</div>