<nav class="navbar navbar-dark bg-primary">
    <nav class="navbar navbar-light">
    <div title="<%= t('navbar_MSG') %>">
        <%= image_tag("https://img.icons8.com/color/1600/student-female.png", size: "50x50") %>&nbsp;&nbsp;
        <%= link_to t('navbar_MSG'), welcome_index_path, class:"navbar-brand" %>
    </div>
</nav>
<select id="language" class="custom-select" style="width:200px " onchange="location = this.value;">
    <option selected><%= t('select.choose') %></option>
    <option value="?locale=pt-BR"><%= t('select.portguese') %></option>
    <option value="?locale=en"><%= t('select.english') %></option>
</select>
</nav>