<nav class="navbar navbar-dark bg-primary">
    <nav class="navbar navbar-light">
    <div title="<%= t('navbar_MSG') %>">
        <%= link_to image_tag("https://bit.ly/2UQNtAG", size: "50x50") + t('navbar_MSG'), root_path, class:"navbar-brand" %>
    </div>
</nav>
<%= link_to('Login', new_professor_session_path, class:"btn btn-danger") %>
<select id="language" class="custom-select" style="width:200px " onchange="location = this.value;">
    <option selected><%= t('select.choose') %></option>
    <option value="?locale=pt-BR"><%= t('select.portguese') %></option>
    <option value="?locale=en"><%= t('select.english') %></option>
</select>
</nav>