<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <% @current = params[:controller] + "#" + params[:action]%>
    <% @valid = 
    @current != "devise/sessions#new" && 
    @current != "devise/sessions#create" &&
    @current != "devise/registrations#new" && 
    @current != "devise/passwords#new" %>
    <% if @valid %>
      <% @devise_page = true %>
      <%= render "layouts/navbar" %>
      <div class="container">
      <% else %>
        <% 2.times do |n| %>
          <br>
        <% end %>
    <% end %>
    <%= yield %>
      <% if @devise_page %>
        <%= render "layouts/content" %>
      </div>
      <br>
    </body>
    <footer>
      <div class="card">
      <div class="card-header p-3 mb-2 bg-success text-white" >
        Featured
      </div>
      <div class="card-body ">
        <h5 class="card-title">New methods to teach</h5>
        <p class="card-text">5 New Teaching Methods Improving Education</p>
        <%= link_to 'Open', "https://bit.ly/2GgUPdn", class:"btn btn-danger", target:"_blank"%>
      </div>
    </div>
    </footer>
    <% end %>
</html>
