<!DOCTYPE html>
<html>
  <head>
    <title>Portal do Aluno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <nav class="navbar navbar-light">
        <%= image_tag("https://bit.ly/2UK0ZpB", size: "40x40") %>&nbsp;&nbsp;
        <%= link_to 'Portal Aluno', welcome_index_path, class:"navbar-brand"%>
    </nav>
</nav>
  <div class="container"><br><br>
    <script>$.notify("Conexão estabelecida!", "success");</script>
    <%= yield %>
    </div>
  </body>
</html>
